<section id="portfolio" class="wrapper style4 special">
    <header class="major">
        <h2>Портфолио</h2>
    </header>
    <div class="row uniform">
        {% for element in g_portfolio %}
        <div class="10u(small) -1u(small) 6u(large) 3u">
            <span class="image fit img-responsive">
                {% if element.panorama %}
                <a href="{% url 'panoramas:panorama_page' element.panorama.slug %}" target="_blank">
                    <img src="{{ element.image.url }}" alt="">
                </a>
                {% else %}
                <img src="{{ element.image.url }}" alt="">
                {% endif %}
            </span>
        </div>
        {% endfor %}
    </div>
</section>
