*.pyc
*.pyo
*__pycache__/

.idea/

*.swp
*.bak
*.vimsession

settings_local.py
/static
/media
*.sqlite3

*.sass-cache

# Это так себе решение, но обмазываться папками статики тоже не хочется,
# поэтому перечисляю скомпилированные стили
main/static/css/ie8.css
main/static/css/ie9.css
main/static/css/main.css
