# coding=utf-8

from settings_base import *  # pylint: disable=W0614,W0401


BASE_DIR = PROJECT_ROOT


DEBUG = True


SECRET_KEY = '{{ item.base.secret_key }}'


ALLOWED_HOSTS = []


DATABASES = {
    'default': {
       'ENGINE': 'django.db.backends.postgresql_psycopg2',
       'HOST': '{{ item.database.host }}',
       'NAME': '{{ item.database.name }}',
       'USER': '{{ item.database.user }}',
       'PASSWORD': '{{ item.database.password }}',
    }
}


MEDIA_ROOT = os.path.join(BASE_DIR, 'media')

MEDIA_URL = '/media/'


STATIC_ROOT = os.path.join(BASE_DIR, 'static')

STATIC_URL = '/static/'


EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'

EMAIL_HOST = '{{ item.mail.host }}'

EMAIL_PORT = {{ item.mail.port }}

EMAIL_USE_TLS = {{ item.mail.use_tls }}

EMAIL_HOST_PASSWORD = '{{ item.mail.password }}'

EMAIL_HOST_USER = '{{ item.mail.user }}'

DEFAULT_FROM_EMAIL = '{{ item.mail.default_from }}'

EMAIL_TO = [EMAIL_FROM]
