<footer id="footer">
    <ul class="icons">
        <li><a target='_blank' href="https://vk.com/panoramadv" class="icon fa-vk"><span class="label">Vkontakte</span></a></li>
        <li><a target='_blank' href="https://www.instagram.com/panorama.dv/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; PANORAMA-DV</li>
        <li>г. Хабаровск</li>
        <li>+7 (924) 311-55-00</li>
        <li><a href="mailto:good@panorama-dv.ru">good@panorama-dv.ru</a></li>
    </ul>
    <ul class="copyright">
        <li>Разработано <a href="mailto:cryptomaniac.512@gmail.com">CryptoManiac</a>'ом</li>
    </ul>
</footer>
