<footer id="footer">
    <ul class="icons">
        <li><a href="#" class="icon fa-vk"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; Слоган сайта Название сайта</li>
        <li>г. Хабаровск</li>
        <li>Контактный номер телефона</li>
        <li><a href="mailto:E-mail">E-mail</a></li>
    </ul>
    <ul class="copyright">
        <li>Разработано <a href="mailto:cryptomaniac.512@gmail.com">cryptomaniac</a>'ом</li>
    </ul>
</footer>
