{% extends "base.html" %}

{% block content %}

    <section id="banner">
        <div class="inner">
            <h2>Panorama-DV</h2>
            <p>
                3D-туры<br/>
                Панорамы<br/>
                3D-модели<br/>
            </p>
            {% if messages %}
                {% include "main/include/messages.html" %}
            {% else %}
                <ul class="actions">
                    <li><a href="#contact_us" class="button special scrolly">Связаться с нами</a></li>
                </ul>
            {% endif %}
        </div>
        <a href="#short" class="more scrolly">Подробнее</a>
    </section>

    <section id="short" class="wrapper style1 special">
        <div class="inner">
            <header class="major">
                <h2>Представьте Ваш бизнес по новому</h2>
                <p>Мы сотрудничаем с городским порталом DVhab.ru и предлагаем разместить Ваш 3D тур для аудитории более 30 000 пользователей ежедневно</p>
                <p>Совместимо с любыми устройствами</p>
                <ul class="icons major">
                    <li><span class="icon fa-android major style1"></span></li>
                    <li><span class="icon fa-apple major style1"></span></li>
                    <li><span class="icon fa-desktop major style1"></span></li>
                </ul>
            </header>
        </div>
    </section>

    {% if services %}
        <section id="service" class="wrapper alt style2">
            {% for service in services %}
                <section class="spotlight">
                    <div class="image">
                        <img src="{{ service.image.url }}" alt="">
                    </div>
                    <div class="content">
                        <h2>{{ service.title }}</h2>
                        <p>{{ service.short_description|safe }}</p>
                    </div>
                </section>
            {% endfor %}
        </section>
    {% endif %}

    {% if features %}
        <section id="features" class="wrapper style3 special">
            <div class="inner">
                <header class="major">
                    <h2>Факты о виртуальных турах</h2>
                    <p>По данным Национальной ассоциации риэлторов США (НАР), виртуальные 3D туры на сайте компании резко улучшают её показатели. Убедитесь сами!</p>
                </header>
                <ul class="features">
                    {% for feature in features %}
                        <li class="icon fa-bookmark">
                            <h3>{{ feature.title }}</h3>
                            <p>{{ feature.description }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}

    {% if g_portfolio %}
        {% include 'main/include/portfolios_section.html' %}
    {% endif %}

{% endblock content %}
