{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--[if lte IE 8]><script src="{% static 'js/ie/html5shiv.js' %}"></script><![endif]-->

	<title>Panorama-DV | студия виртуальных 3D туров и сферических панорам в Хабаровске</title>
        <meta name="description" content="Разработка виртуальных 3D туров, съемка 3D панорам и создание аэропанорам в формате 360 градусов. Виртуальные экскурсии по кафе, гостиницам, ресторанам и барам города Хабаровска."/>

        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-88937896-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-88937896-1');
	</script>


        {# Stylesheets blocks here #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{% static 'css/main.css' %}">
            <!--[if lte IE 8]><link rel="stylesheet" href="{% static 'css/ie8.css' %}" /><![endif]-->
            <!--[if lte IE 8]><link rel="stylesheet" href="{% static 'css/ie9.css' %}" /><![endif]-->
        {% endblock %}

        {% block stylesheet_extendable %}{% endblock %}
    </head>

    <body class="{% block body-class %}landing{% endblock %}">
        <div id="page-wrapper">
            {% include 'include/header.html' %}

            {% block content %}
            {% endblock %}

            {% if g_feedback_form %}
                {% include 'main/include/feedback_section.html' %}
            {% endif %}

            {% include 'include/footer.html' %}
        </div>

        {# JavaScript blocks here #}
        {% block javascripts %}
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
            <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
            <script src="{% static 'js/skel.min.js' %}"></script>
            <script src="{% static 'js/util.js' %}"></script>
            <!--[if lte IE 8]><script src="{% static 'js/ie/respond.min.js' %}"></script><![endif]-->
            <script src="{% static 'js/main.js' %}"></script>
        {% endblock %}

        {% block javascript_extendable %}{% endblock %}
    </body>
</html>
